@model IEnumerable<BeyondThemes.BeyondAdmin.Models.Reportcounterday.ReportcounterdayView>
@using Microsoft.Reporting.WebForms;
@using MvcReportViewer;
@{
    ViewBag.Title = "รายงานแยกตามประเภทบริการประจำวัน";
    Layout = "~/Views/Shared/_Default.cshtml";
}
<div class="row">
    <div class="col-lg-12 col-sm-12 col-xs-12">
        <div class="widget">
            <div class="widget-header bordered-left bordered-palegreen bg-success">
                <span class="widget-caption">ค้นหารรายงานแยกตามประเภทบริการประจำเดือน</span>
            </div>
            <div class="widget-body bordered-left bordered-palegreen">

                <form class="form-inline" id="accountForm">
                    <select name="year" class="form-control input-sm">
                        @for (int i = 1900 + 543; i <= 2090 + 543; i++)
                        {
                            if (DateTime.Now.Year == (i - 543))
                            {
                                <option selected value=@i>@i </option>
                            }
                            else
                            {
                                <option value=@i>@i </option>
                            }

                        }
                    </select>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">ค้นหา</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="well with-header  with-footer">
    <div class="header bg-success">
        แสดงผลรายงานแยกตามช่องบริการประจำวัน
    </div>
    <div style="text-align: center;">
        @if (ViewBag.m == "1000")
        {
            <div class="well" style="color: dodgerblue; padding: 200px;">
                <h2> ไม่พบข้อมูลที่ต้องการ กรุณาเลือกปีที่ต้องการค้นหา </h2>
            </div>
        }
        else
        {
            @Html.MvcReportViewer("Reports/SRCTY.rdlc").ProcessingMode(ProcessingMode.Local).LocalDataSource("SRCTD", Model.ToList()).ReportParameters(new { month = ViewBag.m }).Attributes(new { Height = 810, Width = 1024, style = "border: none" })
        }

    </div>

</div>
@section PageScripts{
    <script src="~/Scripts/jquery-2.2.1.js"></script>
    <script src="~/assets/js/datetime/bootstrap-datepicker.js"></script>
    <script src="~/assets/js/datetime/bootstrap-datepicker-thai.js"></script>
    <script src="~/assets/js/datetime/locales/bootstrap-datepicker.th.js"></script>
    <script>


        $('#date').datepicker({
        });


    </script>
}





