@model  IEnumerable<BeyondThemes.BeyondAdmin.Models.RSCD>
@using Microsoft.Reporting.WebForms;
@using MvcReportViewer;
@{
    ViewBag.Title = "รายงานแยกตามประเภทบริการประจำวัน";
    Layout = "~/Views/Shared/_Default.cshtml";
}
<div class="row">
    <div class="col-lg-12 col-sm-12 col-xs-12">
        <div class="widget">
            <div class="widget-header bordered-left bordered-palegreen bg-success">
                <span class="widget-caption">ค้นหารรายงานแยกตามประเภทบริการประจำวัน</span>
            </div>
            <div class="widget-body bordered-left bordered-palegreen">

                <form class="form-inline" id="accountForm">
                    วันที่ : <input type="text" class="form-control input-sm" name="Date" id="date" data-bv-field="Date" data-provide="datepicker" data-date-language="th-th" autocomplete="on" placeholder="วว/ดด/ปปปป"/>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">ค้นหา</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="well with-header  with-footer">
    <div class="header bg-success">
        แสดงผลรายงานแยกตามประเภทบริการประจำวัน
    </div>
    <div style="text-align: center;">
        @if (ViewBag.Date == "")
        {
            <div class="well" style="color: dodgerblue; padding: 200px;">
                <h2> ไม่พบข้อมูลที่ต้องการ กรุณาใส่วันที่ </h2>
            </div>
        }
        else
        {
            @Html.MvcReportViewer("Reports/SRCD.rdlc").ProcessingMode(ProcessingMode.Local).ReportParameters(new { Date = ViewBag.Date }).LocalDataSource("SRCD", Model.ToList()).LocalDataSource("Total", ViewBag.sum).Attributes(new { Height = 810, Width = 1024, style = "border: none" })
        }
            
        </div>
      
    </div>
    @section PageScripts{
        <script src="~/Scripts/jquery-2.2.1.js"></script>
        <script src="~/assets/js/datetime/bootstrap-datepicker.js"></script>
        <script src="~/assets/js/datetime/bootstrap-datepicker-thai.js"></script>
        <script src="~/assets/js/datetime/locales/bootstrap-datepicker.th.js"></script>
        <script>
              

            $('#date').datepicker({
            });


        </script>
    }



